<ion-view view-title="Go">
  <ion-content class="">
    <div class="">
      <!-- titleDiv -->
      <div class="bar bar-dark">
        <h1 class="title">
        {{currentTask.name}}
        </h1>
      </div> 
      {{currentTask.time}}
      <br>
      <br>
      <br> 
      <div class="row" id="progressBarDiv">
        <div id="progressBarCircle" class="col col-33 col-offset-33"></div>
        <!-- fill background with grey or a picture -->
      </div>

      <!-- <div>{{test}}</div> -->
<!--  WORKING MODEL 
      <input type="text" ng-model="newTask"/>
      <button class="button button-positive button-block" ng-click="addTask(newTask)">
        add Task
      </button> -->
    </div>

    <div class="row topButtons">
      <div class="col col-50">
        <button class="button button-block icon-right ion-play topButtons" ng-click="startTask()" ng-if="showStartButton">Start</button>
        <button class="button button-block icon-right topButtons {{pauseBtn.ionname}}" ng-click="pauseTask()" ng-if="!showStartButton">{{pauseBtn.name}}</button>
      </div>
      <div class="col col-50">
        <button class="button button-block icon-right ion-ios-skipforward topButtons" ng-click="skipTask()">Skip</button>
      </div>
    </div>

    <div class="bar bar-dark subheader">
      <button class="button button-clear icon-left ion-minus-circled" ng-click="data.shouldShowDelete = !data.shouldShowDelete"></button>
      <button class="button button-clear icon-left ion-plus-circled" ng-click="addTask()"></button>
      <!-- + button to addTask oneAtATime -->
        <h1 class="title">Tasks</h1>
        <button class="button button-clear icon-right" ng-click="data.showReordering = !data.showReordering">Reorder</button>
    </div>
    <ion-list class="list" show-reorder="data.showReordering" show-delete="data.shouldShowDelete" can-swipe="true">
      <br>
      <br>
      <!-- <br> -->
      <!-- <span ng-init="initExList()">{{initExList()}}</span> -->
      <ion-item ng-repeat="task in updateTasksList() track by $index" class="item icon-left">
       {{task.name}}
       
        <span class="item-note">{{task.time}} seconds</span>
        <ion-reorder-button class="ion-navicon" on-reorder="reorderItem(task, $fromIndex, $toIndex)"></ion-reorder-button>
        <ion-delete-button class="ion-minus-circled" ng-click="removeTask($index)"></ion-delete-button>
        <ion-option-button class="button-assertive" ng-click="editTask($index)">
          Edit
        </ion-option-button>
      </ion-item>
    </ion-list>

    <!-- <div class="row topButtons">
      <div class="col col-50">
        <button class="button button-block icon-right ion-play topButtons" ng-click="startTask()" ng-if="showStartButton">Start</button>=
        <button class="button button-block icon-right topButtons {{pauseBtn.ionname}}" ng-click="pausetask()" ng-if="!showStartButton">{{pauseBtn.name}}</button>
      </div>
      <div class="col col-50">
        <button class="button button-block icon-right ion-ios-skipforward topButtons" ng-click="skiptask()">Skip</button>
      </div>
    </div>
    
    <div class="bar bar-dark subheader">
      <button class="button button-clear icon-left ion-minus-circled" ng-click="data.shouldShowDelete = !data.shouldShowDelete"></button>
      <button class="button button-clear icon-left ion-plus-circled" ng-click="addtask()"></button>

        <h1 class="title">tasks</h1>
        <button class="button button-clear icon-right" ng-click="data.showReordering = !data.showReordering">Reorder</button>
    </div>
    <ion-list class="list" show-reorder="data.showReordering" show-delete="data.shouldShowDelete" can-swipe="data.canSwipe">
      <br>
      <br>
      <ion-item ng-repeat="task in updatetaskList() track by $index" class="item icon-left">
       {{task.task}}
       
        <span class="item-note">{{task.time}} seconds</span>
        <ion-reorder-button class="ion-navicon" on-reorder="reorderItem(task, $fromIndex, $toIndex)"></ion-reorder-button>
        <ion-delete-button class="ion-minus-circled" ng-click="removetask($index)"></ion-delete-button>
        <ion-option-button class="button-assertive" ng-click="editTask($index)">
          Edit
        </ion-option-button>
      </ion-item>
    </ion-list> -->
  </ion-content>

<div class="float-button">
 <span class="height-fix">
    <a class="content">
      <i class="ion-plus-circled" ng-click="addTask()"> </i>
    </a>
    </span>
 </div>
</ion-view>
