<ion-view view-title="Account">
	<ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="right">
    <button class="button button-clear button-light" ng-click="logout()">Logout</button>
  </ion-nav-buttons>

  <ion-content>

  	<!-- <div class="proimg">
		<img class ="proimg"src="{{item.file}}">
	</div> -->
			
		<!-- <div class="item item-input-inset">
            <div class="buttonSet">
	            <button class="button .buttonSpace" 
	                    style="width:100px;"
	                    ng-click="settings=true;matchings=true">
	                Matchings
	            </button>
	            <button class="button .buttonSpace balanced" 
	                     style="width:100px;"
	                     ng-click="settings=false; matchings=True">
	                Settings
	            </button>
            </div>
        </div> -->
	<!-- <button ngf-select ng-model="picFile" accept="image/*">
            Select Picture</button>
        <div ngf-drop ng-model="picFile" ngf-pattern="image/*"
             class="cropArea">
            <img-crop image="picFile  | ngfDataUrl"                 
            result-image="croppedDataUrl" ng-init="croppedDataUrl=''">
            </img-crop>
        </div>
        <div>
            <img ng-src="{{croppedDataUrl}}" />
        </div>
        <button ng-click="upload(croppedDataUrl, picFile.name)">Submit</button> -->
	
  	<div class="list" >
  		<div class="item">
			<h2 class="title">{{name}}</h2>
		</div>
		<div class="item item-input-inset">
		   	<label class="item-input-wrapper">
		      	<input type="text" placeholder="Change Name" ng-model="newName" class="inputIndent">
		    </label>
		    <button class="button button-small" ng-click="updateName(newName)">
		 	    Submit
		    </button>
		 </div>
		 <!-- <div class="item item-input-inset">
		   	<label class="item-input-wrapper">
		      	<input type="text" placeholder="Change Last Name" ng-model="newLastname" class="inputIndent">
		    </label>
		    <button class="button button-small" ng-click="updateLastname(newLastname)">
		 	    Submit
		    </button>
		 </div> -->
		 <!-- checking a change -->
		 <!-- <div class="item item-input-inset">
		   	<label class="item-input-wrapper">
		      	<input type="text" placeholder="Change Email" ng-model="newEmail" class="inputIndent">
		    </label>
		    <button class="button button-small" ng-click="updateEmail(newEmail)">
		 	    Submit
		    </button>
		 </div>
		 <div class="item item-input-inset">
		   	<label class="item-input-wrapper">
		      	<input type="password" placeholder="Change Password" ng-model="newPassword" class="inputIndent">
		    </label>
		    <button class="button button-small" ng-click="updatePassword(password)">
		 	    Submit
		    </button>
		 </div> -->

		 <div> &nbsp;{{response}}</div>


		

   <!--  <button class="button button-positive button-block" ng-click="logout()">
    Logout
    </button>

    <button class="button button-positive button-block" ng-click="getAuth()">
    getAuth
    </button> -->

    

  	<!-- <span>Name: {{auth.profile.nickname}}</span> -->
  
  </ion-content>


</ion-view>
